body{background:#000;}
*{padding:0 !important; margin:0; border:none;}
.jobs{
  display:block;
  min-height:80vh;
  height:auto;
}



.jobHead{
  display:block;
  height:30vh;
  text-align:center;
  color:#fff;
}
.jobHead h1{padding-top:1em !important;}
.jobHead h2{font-size:1.3em; letter-spacing:2px; font-weight:lighter;}
.jobHead ul{}

.jobHead ul li{
  display:inline-block;
  font-size:.85em;
  padding:.5em 2em !important;
  margin: 0px .3em !important;
  border-radius:0px;
  border:solid rgba(95,95,95,1);
  border-width:0px 0px 3px 0px;
  transition:all .3s ease-in;
}

.jobHead ul li:hover{background:#fff; color:#000; border:none;}

.jobs article h1{
  font-size:1em;
  text-decoration: underline;
  width:15em; line-height:1.4em; letter-spacing:2px;
  padding:3.5em !important;
  position:relative;
  color:#3C555C;
  right:0;
}

.jobs article:hover h1{color:#fff;}

.jobs article{
  display:inline-block;
  float:left;
  background:#E3E0CE;
  background-size:cover;
  background-image:url();
}

.jobs article article{
  display:inline-block;
  float:left;
  background:#E3E0CE;
  height:50%;
  background-image:url();
  background-size:cover;
}

.jobs article article:hover{background-size:cover; transform: scale(1.02); transition:all .4s;}
.jobs article:hover{background-size:cover; transform: scale(1.02); transition:all .4s; z-index:999;}


.jobs article h1:hover{color:#ff323f; transition:all 4s;}


.jobs article:hover{background:rgba(30,30,30,.95); background-blend-mode:multiply; background-size:cover;}

.jobs article:nth-child(1){height:35vh; background-image:url(https://cdna.artstation.com/p/assets/images/images/005/890/044/large/sugar-chow-1920.jpg?1494477927);}
.jobs article:nth-child(2){height:35vh; background-image:url(https://cdnb.artstation.com/p/assets/images/images/005/765/499/large/mars-waterfall-r10-copy.jpg?1493629935);}

.jobs article:nth-child(3){height:35vh; background-image:url(https://cdnb.artstation.com/p/assets/images/images/005/388/909/large/regie-santiago-richter-closeup-head1.jpg?1490681623)}
.jobs article:nth-child(4){height:35vh; background-image:url(https://cdnb.artstation.com/p/assets/images/images/005/060/083/large/astri-lohne-sjursen-mononokeb.jpg?1488213693)}
.jobs article:nth-child(5){height:35vh; background-image:url(https://cdnb.artstation.com/p/assets/images/images/005/499/881/large/tony-camehl-awd-character-design-02-1.jpg?1491484661)}

.jobs article:nth-child(6){height:70vh;background-image:url(https://cdna.artstation.com/p/assets/images/images/005/672/078/large/sakimi-chan-mei.jpg?1492896891)}
.jobs article:nth-child(7){height:70vh;}

.jobs article article:nth-child(1){background-image:url(https://cdnb.artstation.com/p/assets/images/images/005/716/421/large/felicien-nourry-bargein08-copy.jpg?1493233543)}

.jobs article article:nth-child(2){background-image:url(https://cdna.artstation.com/p/assets/images/images/005/791/804/large/luc-de-haan-horizon-stragieguide-cover.jpg?1493803249)}

.jobs article article:nth-child(3){background-image:url(https://cdnb.artstation.com/p/assets/images/images/005/716/421/large/felicien-nourry-bargein08-copy.jpg?1493233543)}