<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Videograph Template">
    <meta name="keywords" content="Videograph, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Art Future | Portfolio</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../css/other_style.css}" type="text/css">

</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <!--burger menu start-->
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <li class="nav-item" th:classappend="${module == 'about' ? 'active' : ''}">
                    <a th:href="@{/web/about}">About</a></li>
                <li class="nav-item" th:classappend="${module == 'services' ? 'active' : ''}">
                    <a th:href="@{/web/services}">Services</a></li>
                <li class="nav-item" th:classappend="${module == 'contact' ? 'active' : ''}">
                    <a th:href="@{/web/contact}">Contact</a></li>
                <li class="nav-item" th:classappend="${module == 'blog' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/web/blog}">Blog</a>
                <li class="nav-item" th:classappend="${module == 'blog-details' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/web/blog-details}">Blog Details</a>
                <li class="nav-item" th:classappend="${module == 'index' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/web/index}">Home</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--burger finish-->
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a th:href="@{/web/index}"><img src="/images/fon/image_2022-08-21_08-35-45.png" alt=""
                                                    style="height: 30px"></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="header__nav__option">
                    <nav class="header__nav__menu mobile-menu">
                        <ul>
                            <li><a th:href="@{/web/artist}">Artist</a>
                            <li class="active"><a th:href="@{/web/portfolio}">Portfolio</a></li>
                            <li><a th:href="@{/web/profile}">Profile</a>
                            <li><a th:href="@{/web/login}">Login</a>
                            <li><a th:href="@{/registration/}">Registration</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__nav__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option spad set-bg" data-setbg="/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Art Gallery</h2>
                    <div class="breadcrumb__links">
                        <a th:href="@{/web/index}">Home</a>
                        <span>Art Gallery</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Portfolio Section Begin -->
<section class="portfolio spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="portfolio__filter">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".game">Game Art</li>
                    <li data-filter=".fantasy">Fantasy</li>
                    <li data-filter=".anime">Anime</li>
                    <li data-filter=".illustration">Illustration</li>
                    <li data-filter=" .visual-dev">Visual Development</li>
                </ul>
            </div>
        </div>
        <div class="row portfolio__gallery">
<!--            1-->
            <div class="col-lg-4 col-md-6 col-sm-6 mix game illustration">
                <div class="portfolio__item">
                    <div class="portfolio__item__video set-bg" data-setbg="/images/games/jas-hoang-melina.jpg">
                        <!--                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i-->
                        <!--                                class="fa fa-play"></i></a>-->
                    </div>
                    <div class="portfolio__item__text">
                        <h4>VIP Auto Tires & Service</h4>
                        <ul>
                            <li>Games</li>
                            <li>Arts</li>
                        </ul>
                    </div>
                </div>
            </div>
<!--            2-->
            <div class="col-lg-4 col-md-6 col-sm-6 mix illustration">
                <div class="portfolio__item">
                    <div class="portfolio__item__video set-bg" data-setbg="/images/arts/v-i-y-l-n-e-noel.jpg">
                        <!--                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i-->
                        <!--                                class="fa fa-play"></i></a>-->
                    </div>
                    <div class="portfolio__item__text">
                        <h4>VIP Auto Tires & Service</h4>
                        <span>Photography</span>
                    </div>
                </div>
            </div>
<!--            3-->
            <div class="col-lg-4 col-md-6 col-sm-6 mix illustration anime">
                <div class="portfolio__item">
                    <div class="portfolio__item__video set-bg" data-setbg="/images/anime/woo-chul-lee-2018.jpg">
                        <!--                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i-->
                        <!--                                class="fa fa-play"></i></a>-->
                    </div>
                    <div class="portfolio__item__text">
                        <h4>VIP Auto Tires & Service</h4>
                        <ul>
                            <li>Anime</li>
                            <li>Fan Art</li>
                        </ul>
                    </div>
                </div>
            </div>
<!--            4-->
            <div class="col-lg-4 col-md-6 col-sm-6 mix fantasy">
                <div class="portfolio__item">
                    <div class="portfolio__item__video set-bg"
                         data-setbg="/images/arts/anato-finnstark-anato-finnstark-web-pti-bat.jpg">
                        <!--                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i-->
                        <!--                                class="fa fa-play"></i></a>-->
                    </div>
                    <div class="portfolio__item__text">
                        <h4>VIP Auto Tires & Service</h4>
                        <ul>
                            <li>Fan Art</li>
                            <li>Illustration</li>
                        </ul>
                    </div>
                </div>
            </div>
<!--            5-->
            <div class="col-lg-4 col-md-6 col-sm-6 mix anime">
                <div class="portfolio__item">
                    <div class="portfolio__item__video set-bg" data-setbg="/images/anime/irene-yor-final-01.jpg">
                        <!--                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i-->
                        <!--                                class="fa fa-play"></i></a>-->
                    </div>
                    <div class="portfolio__item__text">
                        <h4>VIP Auto Tires & Service</h4>
                        <span>Anime</span>
                    </div>
                </div>
            </div>
<!--            6-->
            <div class="col-lg-4 col-md-6 col-sm-6 mix visual-dev illustration">
                <div class="portfolio__item">
                    <div class="portfolio__item__video set-bg" data-setbg="/images/arts/dannylailai-.jpg">
                        <!--                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i-->
                        <!--                                class="fa fa-play"></i></a>-->
                    </div>
                    <div class="portfolio__item__text">
                        <h4>VIP Auto Tires & Service</h4>
                        <ul>
                            <li>Illustration</li>
                            <li>Visual-Dev</li>
                        </ul>
                    </div>
                </div>
            </div>
<!--            7-->
            <div class="col-lg-4 col-md-6 col-sm-6 mix visual-dev fantasy">
                <div class="portfolio__item">
                    <div class="portfolio__item__video set-bg"
                         data-setbg="/images/arts/furio-tedeschi-furio-tedeschi-zbsummit2016.jpg">
                        <!--                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i-->
                        <!--                                class="fa fa-play"></i></a>-->
                    </div>
                    <div class="portfolio__item__text">
                        <h4>VIP Auto Tires & Service</h4>
                        <ul>
                            <li>Visual-Dev</li>
                            <li>Fantasy</li>
                        </ul>
                    </div>
                </div>
            </div>
<!--            8-->
            <div class="col-lg-4 col-md-6 col-sm-6 mix game illustration">
                <div class="portfolio__item">
                    <div class="portfolio__item__video set-bg" data-setbg="/images/arts/dmitry-prozorov-priestess.jpg">
                        <!--                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i-->
                        <!--                                class="fa fa-play"></i></a>-->
                    </div>
                    <div class="portfolio__item__text">
                        <h4>VIP Auto Tires & Service</h4>
                        <span>Illustration</span>
                    </div>
                </div>
            </div>
<!--            9-->
            <div class="col-lg-4 col-md-6 col-sm-6 mix illustartion visual-dev fantasy">
                <div class="portfolio__item">
                    <div class="portfolio__item__video set-bg"
                         data-setbg="/images/arts/furio-tedeschi-deathmaskturquoise.jpg">
                        <!--                        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="play-btn video-popup"><i-->
                        <!--                                class="fa fa-play"></i></a>-->
                    </div>
                    <div class="portfolio__item__text">
                        <h4>VIP Auto Tires & Service</h4>
                        <ul>
                            <li>Illustration</li>
                            <li>Visual-Dev</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pagination__option">
<!--                    <a href="#" class="arrow__pagination left__arrow"><span class="arrow_left"></span> Prev</a>-->
<!--                    <a href="#" class="number__pagination">1</a>-->
<!--                    <a href="#" class="number__pagination">2</a>-->
<!--                    <a href="#" class="arrow__pagination right__arrow">Next <span class="arrow_right"></span></a>-->
                    <div class="col-lg-12 p-0">
                        <div class="team__btn">
                            <a th:href="@{/web/art-gallery}" class="primary-btn">View All Art Gallery</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="footer__top__logo">
                        <a th:href="@{/web/index}"><img src="/images/fon/image_2022-08-21_08-35-45.png" alt=""
                                                        style="height: 30px"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="footer__top__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__option">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__option__item">
                        <h5>About us</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been...</p>
                        <a href="#" class="read__more">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__option__item">
                        <h5>Who we are</h5>
                        <ul>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Carrers</a></li>
                            <li><a th:href="@{/web/contact}">Contact us</a></li>
                            <li><a href="https://witcher.fandom.com/wiki/World_map"
                                   target="_blank">Locations</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__option__item">
                        <h5>Our work</h5>
                        <ul>
                            <li><a href="#">Feature</a></li>
                            <li><a href="#">Latest</a></li>
                            <li><a href="#">Browse Archive</a></li>
                            <li><a href="#">Video for web</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__option__item">
                        <h5>Newsletter</h5>
                        <p>Videoprah is an award-winning, full-service production company specializing.</p>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="fa fa-send"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p class="footer__copyright__text">Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | This template is made with <i class="fas fa-biohazard	"
                                                                            aria-hidden="true"></i> by <a
                                href="https://github.com/WinChester1723" target="_blank">WinChester1723</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script th:src="@{../js/jquery-3.3.1.min.js}"></script>
<script th:src="@{../js/bootstrap.min.js}"></script>
<script th:src="@{../js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{../js/mixitup.min.js}"></script>
<script th:src="@{../js/masonry.pkgd.min.js}"></script>
<script th:src="@{../js/jquery.slicknav.js}"></script>
<script th:src="@{../js/owl.carousel.min.js}"></script>
<script th:src="@{../js/main.js}"></script>
</body>

</html>